*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;

  padding:20px 80px;

  background:#0f172a;
}

.logo{
  color:white;
  font-size:28px;
  font-weight:bold;
}

.nav-links{
  display:flex;
  gap:30px;
}

.nav-links a{
  text-decoration:none;
  color:white;
  font-size:18px;
}

.nav-links a:hover{
  color:#38bdf8;
}

@media (max-width: 768px){

  .navbar{
    flex-direction:column;
    gap:20px;

    padding:20px;
  }

  .nav-links{
    flex-wrap:wrap;
    justify-content:center;

    gap:15px;
  }

  .nav-links a{
    font-size:16px;
  }

}