.skills{
  min-height:90vh;

  background:linear-gradient(
    135deg,
    #0f172a,
    #1e293b
  );

  padding:60px 40px;
}

.skills-container{
  max-width:1000px;
  margin:auto;
}

.skills-container h1{
  text-align:center;
  color:#38bdf8;

  margin-bottom:50px;

  font-size:40px;
}

.skills-grid{
  display:grid;

  grid-template-columns:
  repeat(auto-fit,minmax(200px,1fr));

  gap:25px;
}

.skill-card{
  background:#1e293b;

  color:white;

  padding:30px;

  text-align:center;

  border-radius:12px;

  font-size:20px;
  font-weight:bold;

  transition:0.3s;
}

.skill-card:hover{
  transform:translateY(-8px);

  box-shadow:
  0 10px 20px rgba(56,189,248,0.3);

  color:#38bdf8;
}
@media (max-width:768px){

  .skills{
    padding:40px 20px;
  }

  .skills-container h1{
    font-size:32px;
  }

}